body {
    background-color: rgb(2, 172, 44);
}
#ifElse{
    margin: 20px 30px;
    line-height: 35px;
}
#cycles{
    margin: 20px 30px;
    line-height: 30px;       
}
#functionTask{
    margin: 20px 30px;
}
.picture{
    display: flex;   
    justify-content: space-between;
    padding: 50px 100px;
}
